@font-face {
  font-family: "bnazanb";
  src: url("./bnazanb.eot");
  src: local("bnazanb"), url("./bnazanb.woff") format("woff"),
    url("./bnazanb.ttf") format("truetype");
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9189">Text with this font applied</p> */
.fontsforweb_fontid_9189 {
  font-family: "bnazanb" !important;
}
